<div id="<?php $this->option('id'); ?>" class="window <?php $this->classes(); ?>">
	<?php if ($this->flag('resizable') === true) {  ?>
		<div class="resizable_wrapper">
			<div class="resizeSE"></div><div class="resizeE"></div><div class="resizeNE"></div><div class="resizeN"></div><div class="resizeNW"></div><div class="resizeW"></div><div class="resizeSW"></div><div class="resizeS"></div>
		</div>
	<?php }  ?>
	<div class="wrapper" id="windowwrapper-<?php $this->option('id'); ?>">
		<div class="titlebar">
			<div class="icon"><?php echo ($this->flag('hasIcon') === true) ? '<img src="' . $this->flag('icon') . '" border="0" width="16" height="16" alt="' . $this->flag('title') . '" />': '';  ?></div>
			<div class="title"><?php $this->option('title'); ?></div>
			<div class="actions">
				<?php /*echo ($this->flag('pinnable') === true) ? '<a href="javascript:void(0);" class="action action-pinnable"></a>': '';*/  ?>
				<?php echo ($this->flag('minimizable') === true) ? '<a href="javascript:void(0);" class="action action-minimizable"></a>': '';  ?>
				<?php echo ($this->flag('toggable') === true) ? '<a href="javascript:void(0);" class="action action-toggable"></a>': '';  ?>
				<?php echo ($this->flag('closable') === true) ? '<a href="javascript:void(0);" class="action action-closable"></a>': '';  ?>
				<div class="clear"></div>
			</div>
		</div>
		<div class="outer">
			<div class="inner">
				<?php if ($this->flag('toolbars')) { ?><div class="toolbars-top"><?php $this->toolbars('top'); ?></div><?php } ?>
				<div class="content"<?php if (!empty($this->styles)) echo ' style="' . $this->styles . '"'; ?>>
					<?php $this->content(); ?>
				</div>
				<?php echo ($this->flag('buttons')) ? '<div class="buttons">' . $this->buttons() . '<div class="clear"></div></div>': '';  ?>
				<?php if ($this->flag('toolbars')) { ?><div class="toolbars-bottom"><?php $this->toolbars('bottom'); ?></div><?php } ?>
			</div>
		</div>
	</div>
</div>