<?php unset($this); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="<?php __('_current'); ?>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-type" content="text/html; charset=<?php echo DEFAULT_ENCODING; ?>" />
    <title><?php __('titlebar_outside', $config->appname); ?></title>
	<?php head(); ?>
	<link rel="shortcut icon" type="image/x-icon" href="<?php echo $config->styles['favico']; ?>" />
	<link rel="stylesheet" type="text/css" href="<?php echo $config->styles['common']; ?>" media="all" />
	<?php scripts('header'); ?>
  </head>
  <body>
	<noscript><div id="noscript-container"><p><strong><?php __('critical_notice'); ?></strong>: <span><?php __('javascript_disabled'); ?></span></p></div></noscript>
	<div id="loading-container"><p><strong><?php __('loading'); ?>...</strong></p><?php $api->progressbar(array('id' => 'system_loader')); ?></div>
	<?php screen(); ?>
	<div class="screen" id="screen-workspace"></div>
	<?php scripts('footer'); ?>
  </body>
</html>